@import url('https://www.w3schools.com/w3css/4/w3.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font: 14px roboto;
  color: black;
  background-color: #064663;
  
}

h1{
  color: white;
  font-family: 'Montserrat Alternates', sans-serif;
  margin-top: 120px;
}

h2{
  color: white;
  font-size: 40px;
}

h3{
  color: white;
}

.hello{
  padding-top: 120px;
}

.createassess{
  float: inline-end;
  font-weight: bold;
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  -webkit-border-radius: 25;
  -moz-border-radius: 25;
  border-radius: 25px;
  font-family: Arial;
  color: #064663;
  width: 200px;
  font-size: 20px;
  padding: 6px 19px 8px 19px;
  text-decoration: none;
  
}

.createassess:hover {
  background: #030303;
  background-image: -webkit-linear-gradient(top, #030303, #000000);
  background-image: -moz-linear-gradient(top, #030303, #000000);
  background-image: -ms-linear-gradient(top, #030303, #000000);
  background-image: -o-linear-gradient(top, #030303, #000000);
  background-image: linear-gradient(to bottom, #030303, #000000);
  text-decoration: none;
}

label {
  white-space: pre-wrap;
  display: inline-block;
}

span {
  font-size: 24px;
}

hr.solid {
  border-top: 3px solid #bbb;
}

hr.solidprofile {
  border-top: 3px solid #bbb;
  margin-bottom: 100px;
}

.assess {
  overflow: scroll;
  overflow-x: auto;
  overflow-y:auto;
  border:#04293A;
  border-top: #04293A;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  margin-right: 14px;
  min-height: 56vh;
  max-height: 56vh;
  background-color: ghostwhite;
}

.assessExam{
  overflow: scroll;
  overflow-x: auto;
  overflow-y:auto;
  border:#04293A;
  border-top: #04293A;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  margin-right: 14px;
  min-height: 68vh;
  max-height: 68vh;
  background-color: ghostwhite;
}

.assessNotifications{
  overflow: scroll;
  overflow-x: auto;
  overflow-y:auto;
  border:#04293A;
  border-top: #04293A;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  margin-right: 14px;
  width: 100vh;
  min-height: 73vh;
  max-height: 73vh;
  background-color: ghostwhite;
}

.assesskidbut {
  float: right;
  margin-right: 1.5%;
  margin-top: 20px;
}

.assesskidbut:hover {
  background-color: #ddd;
  color: black;
}

.assesskidname {
  margin-top: 3px;
  margin-left: 15px;
  text-align:center;
}

.assesskiddate {
  margin-left: 10px;
}

.assesskid:hover {
  background-color: #ddd;
}

.profilepicdiv{
  float: right;
}

.sbb {
  float: left;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 48px;
  line-height: 10px;
  border-radius: 5px;
  padding-right: 27px;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-top: 15px;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sbb:hover {
  background-color: #ddd;
  color: black;
}

.header {
  overflow: hidden;
  width: 94.65%;
  background-color: #04293A;
  float: right;
  padding: 20px 10px;
  border-left-width: 100px;
  
  border-color: #064663;
  border-width: 3px;
  border-bottom-style: solid;
  position: sticky;
  top: 0;
}

hr{
  background-color: #2a9d8f;
  
}


.header input {
  float: left;
  padding: 8px;
  line-height: 10px;
}

.search input[type=text] {
  background-color: white;
  background-image: url('resources/searchicon.png');
  background-position: 10px 6px;
  background-repeat: no-repeat;
  padding-left: 40px;
  margin-top: 17px;
  margin-right: 20px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
  border-radius: 4px;
}

.header a.logo {
  font-family: 'Lobster Two', cursive;
  color: white;
  padding-left: 30px;
  padding-top: 20px;
  font-size: 75px;
  font-weight: bold;
}

.header a.but {
  padding: 5px;
}

.header a.but:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

.question_tab {
  padding-left: 25px;
  
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button {
  background-color: #272f5c;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.div_home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: block;
  position: relative;
  padding-left: 50px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
}

.container input {
  position: absolute;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  margin-top: 40px;
  position: absolute;
  top: 4px;
  left: 0;
  height: 35px;
  width: 35px;
  background-color: #eee;
}

.container .checkmark:hover {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 14px;
  top: 7px;
  width: 8px;
  height: 17px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container .answer {
  margin-top: 10px;
  width: 97%;
  height: 120px;
  padding: 5px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  font-size: 15px;
}

.container .answer:focus {
  border: 3px solid #555;
}

.login__background {
  background-image: url(resources/onliineassbackground.jpg);
  background-size: cover;
  position: absolute;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  width: 100%;
  height: 100vh;
}


.login__container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.form__title {
    text-align: center;
    color: #064663;
    font-size: 63px;
    text-shadow: 1px 1px 1px #264653,
        2px 2px 3px #264653;
    font-weight: bolder;
    font-family: 'Lobster Two', cursive;

}

.login__text {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
    color: #125e82;
    text-shadow: 1px 1px 1px #264653,
        1px 1px 1px #264653;
}

.form {
    width: 400px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 5px 40px 20px 40px;
    border-radius: 10px;
    box-shadow: 6px 8px 12px rgba(red, green, blue, 0.3), -6px 0 12px rgba(red, green, blue, 0.3);
}

.login__container,
.form__input,
.form__button {
    font: 500 1rem 'Quicksand', sans-serif;
}

.form--hidden {
    display: none;
}

.form>*:first-child {
    margin-top: 0;
}

.form>*:last-child {
    margin-bottom: 0;
}

.form__message {
    text-align: center;
    margin-bottom: 1rem;
}

.form__message--success {
    color: #34802e;
}

.form__message--error {
    color: #cc3333;
    font-size: 13px;
}

.form__input-group {
    margin-bottom: 1rem;
}

.form__input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(10px);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}

.form__input:focus {
    border-color: #064663;
    background: #ffffff;
}

.form__input--error {
    color: #cc3333;
    border-color: #cc3333;
}

.form__input-error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: #cc3333;
}

.form__button {
    height: 46px;
    background-color: #064663;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding-left: 4px;
    border-radius: 6px;
    margin-left: 37%;
    margin-top: 25px;
    margin-bottom: 20px;
}

.form__button:hover {
    background-color: #05354b;
    transition: 0.5s ease;
}

.form__button:active {
    transform: scale(0.93);
}

.form__text {
    text-align: center;
}

.form__link {
    color: #264653;
    text-decoration: none;
    cursor: pointer;
    font-size: 13px;
}

.form__link:hover {
    text-decoration: underline;
}



button {
  margin-right: 2.5px;
  margin-left: 2.5px;
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

#header {
  position: relative;
  padding: 10px;
  color: #d36c6c;
  font-size: 26px;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
}
#header button {
  background-color:#92a1d1;
}

.backg{
  background-color: #064663;
}

.editprofilebutton{
  margin-top: 100px;
  float: inline-end;
  font-weight: bold;
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  -webkit-border-radius: 25;
  -moz-border-radius: 25;
  border-radius: 25px;
  font-family: Arial;
  color: #064663;
  width: 120px;
  font-size: 20px;
  padding: 6px 8px 8px 8px;
  text-decoration: none;
}

.editprofileconfirmbutton{
  margin-top: 100px;
  margin-left: 2000px;
  float: inline-end;
  font-weight: bold;
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  -webkit-border-radius: 25;
  -moz-border-radius: 25;
  border-radius: 25px;
  font-family: Arial;
  color: #064663;
  width: 120px;
  font-size: 20px;
  padding: 6px 8px 8px 8px;
  text-decoration: none;
}

.profiledetailslabels{
  color: white;
  font-size: 30px;
  margin-top: 20px;
  margin-left: 600px;
}

.examdetailslabels{
  margin-bottom: 10px;
  color: white;
  font-size: 30px;
  padding-right: 100px;
  
}

.details{
  float: right;
  margin-top: 20px;
  margin-right: 600px;
  width: 300px;
  height: 30px;
}

.newexamdetails{
  margin-right: 0px;
  width: 600px;
  height: 40px;
  color: black;
  font-size: 16px;
}

.examdetailsdivs{
  display: flex;
  flex-wrap: wrap;
  margin-left: 300px;
  margin-top: 20px;
  width: 500px;
}

.details1{
  float: right;
  margin-top: 20px;
  margin-right: 600px;
  width: 300px;
  height: 30px;
  color: white;
  font-size: 20px;
}


div.help-body {
  display: grid;
  grid-template-columns: minmax(300px, auto) 1fr;
  grid-gap: 20px;
  grid-template-areas: "navbar mainContent";
  margin-top: 50px;
}


main#main-doc {
  grid-area: mainContent;
}

@media screen and (max-width: 750px) {
  div.main-body {
    grid-template-columns: 1fr;
    grid-template-areas: "navbar" "mainContent";
  }
    nav#help-navbar {
    position: inherit;
  }
}

.main-section{
  font-size: 17px;
  background-color: white;
  border: 2px solid black;
  border-radius: 40px;
  margin-right: 350px;
  margin-left: -1px;
  padding-left: 50px;
  padding-bottom: 20px;
}
h3{
  color: #064663;
  font-size: 33px;
  
}
ul{
  margin-left: 25px;
}

.questioninput{
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 10px;
  width: 1100px;
  height: 100px;
  text-align: left;
  vertical-align: top;
  font-size: 15px;
}



.answersdiv{
  margin-top: 20px;
  float: left;
  margin-left: 20px;
  overflow: scroll;
  overflow-x: auto;
  overflow-y:auto;
  border:white;
  border-top: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  margin-right: 14px;
  width: 1100px;
  height: 360px;
  background-color: #064663;
}

.addanswerbtn{
  margin-right: 700px;
  margin-bottom: 10px;
  float: right;
  font-weight: bold;
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  -webkit-border-radius: 25;
  -moz-border-radius: 25;
  border-radius: 25px;
  font-family: Arial;
  color: white;
  width: 200px;
  font-size: 20px;
  padding: 6px 8px 8px 8px;
  text-decoration: none;
}

.typeyouranswers{
  float: left;
  margin-bottom: 0px;
  margin-left: 20px;
  margin-top: 10px;
  color: white;
  font-size: 22px;
}

.submitquestionbtn{
  position:absolute ;
  top: 0;
  right: 0;
  font-weight: bold;
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  -webkit-border-radius: 25;
  -moz-border-radius: 25;
  border-radius: 25px;
  font-family: Arial;
  color: white;
  width: 200px;
  font-size: 20px;
  padding: 6px 8px 8px 8px;
  text-decoration: none;
}

.submitexambtn{
  float: right;
  margin-top: 70px;
  margin-right: 450px;
  float: inline-end;
  font-weight: bold;
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  -webkit-border-radius: 25;
  -moz-border-radius: 25;
  border-radius: 25px;
  font-family: Arial;
  color: white;
  width: 200px;
  font-size: 20px;
  padding: 6px 8px 8px 8px;
  text-decoration: none;
}

.submitexamdiv{
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 186px;
  margin-bottom: 50px;
  margin-right: 100px;
}

.submitexamdiv{
  position: absolute;
  top: 0;
  margin-top: 670px;
  margin-left:190px ;
  margin-bottom: 30px;
  margin-right: 100px;
}

.submitquestiondiv{
  position:absolute ;
  top: 0;
  right: 0;
  margin-top: 190px;
  margin-right: 100px;
}

.QuestionDifficulty{
  
  font-size: 25px;
}


.difficultyradiobtns{
  margin-right: 80px;
  color: white;
  font-size: 20px;
  border:white;
  border-top: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 10px;
  
}

.questiondiffdiv{
  position:absolute;
    bottom:0;
    right:0;
  margin-right: 138px;  
  margin-bottom: 30px;
}

.radiolabels{
  margin-left: 20px;
}

.assessbeforeexam{
  overflow: scroll;
  overflow-x: auto;
  overflow-y:auto;
  border:#04293A;
  border-top: #04293A;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  margin-right: 14px;
  width: 100vh;
  min-height: 50vh;
  max-height: 70vh;
  background-color: ghostwhite;
}

.startbutton{
  border: 1px solid black ;
  border-radius: 50px;
  margin-top: 30px;
  float: right;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  color: white;
  background-color:#05354b ;
  margin-right: 450px;
  
  
}

.backbutton{
  border: 1px solid black ;
  border-radius: 50px;
  margin-top: 30px;
  float: left;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  color: white;
  background-color:#7f7f7f ;
  margin-left: 450px;
  
  
}

.startbutton:hover {
  background-color:#04293A ;
}

.backbutton:hover {
  background-color: #595959;
}
  
.questionkeywordsdiv{
  float: right;
  margin-right: 180px;
  margin-top: 10px;
}

.questionImgdiv{
  position:absolute;
    top:0;
    right:0;
  margin-right: 180px;
  margin-top: 300px;
}

.questionImgUrldiv{
  float: right;
  margin-right: 155px;
}

.newexamdifficultyradiobtns{
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 280px;
  margin-right: 500px;
  color: white;
  font-size: 20px;
  
  border-width: 1px;
  border-radius: 5px;
  padding: 10px;
  
}

.newexamquestionnumberdiv{
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 390px;
  margin-right: 588px;
  color: white;
  font-size: 20px;
 
  border-width: 1px;
  border-radius: 5px;
  padding: 10px;
}

.newexamesettime{
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 510px;
  margin-right: 520px;
  color: white;
  font-size: 20px;
  
  
  border-width: 1px;
  border-radius: 5px;
  padding: 10px;
}

.analyzedata-wrap{
  height: 100%;
  width: 70%;
}

.analyzedata{
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  margin-top: 40px;
  margin-left: -40px;
  text-align: center;
}

.analyzedata div{
  display: inline-block;
  color: white;
  flex-grow: 1;
  height: 50px;
}

.assessAnalyze{
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  overflow-x: auto;
  overflow-y:auto;
  border:#04293A;
  border-top: #04293A;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  margin-right: 14px;
  height: 65vh;
  width: 100%;
  background-color: ghostwhite;
}

#my-pie-chart-container {
  float: right;
  background-color:#064663;
  margin-right: 100px;
  margin-top:-550px;
}

.charts{
  display: flex;
  float:right;
  flex-wrap: wrap;
  -ms-flex-align: center;
}

#my-pie-chart {
  
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin-top: 30px;
}

#legenda {
  margin-left: 20px;
  background-color:white;
  padding: 7px 5px 10px 15px;
  text-align: center;
  margin-right: 5px;
  margin-top: 15px;
  
}

.rate{
  margin-left: 30px;
}

.entry {
  display: flex;
  align-items: center;
}

.entry-color {
    height: 10px;
    width: 10px;
}

.entry-text {
margin-left: 10px;
text-align: center;
padding-right: -50px;
}

#color-red {
  background-color: red;
}

#color-green {
  background-color: green;
}

.questioncircles{
  background-color: darkgrey;
  padding-top: 4px;
  float: right;  
  width: 35px;  
  height: 35px;  
  font-size: 20px;
  text-align:center;
  border: 2px solid #f9f9f9;  
  border-color: #04293A;
  border-radius: 50%; 
  color: #04293A;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.questioncircles:hover {
  background: #5c5c5c;
  background-image: -webkit-linear-gradient(top, #5c5c5c, #5c5c5c);
  background-image: -moz-linear-gradient(top, #5c5c5c, #5c5c5c);
  background-image: -ms-linear-gradient(top, #5c5c5c, #5c5c5c);
  background-image: -o-linear-gradient(top, #5c5c5c, #5c5c5c);
  background-image: linear-gradient(to bottom, #5c5c5c, #5c5c5c);
  text-decoration: none;
  
}

.questioncirlescontainer{
  float: right;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 13px;
  padding-right: 10px;
  margin-top: -520px;
}

.assessduringexam{
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  overflow-x: auto;
  overflow-y:auto;
  border:#04293A;
  border-top: #04293A;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  margin-right: 14px;
  height: 55vh;
  width: 70%;
  background-color: ghostwhite;
  margin-top: 100px;
  margin-left: 100px;
}

.submitexam{
  border: 1px solid black ;
  border-radius: 50px;
  margin-top: 30px;
  float: right;
  font-size: 17px;
  padding: 10px 10px 10px 10px;
  color: white;
  background-color:red ;
  margin-right: 10px;
}

.nextque{
  border: 1px solid black ;
  border-radius: 50px;
  margin-top: 30px;
  font-size: 17px;
  padding: 10px 10px 10px 10px;
  color: white;
  background-color:#05354b ;
  margin-left: 985px;
}

.prevque{
  border: 1px solid black ;
  border-radius: 50px;
  margin-top: 30px;
  float: left;
  font-size: 17px;
  padding: 10px 10px 10px 10px;
  color: white;
  background-color:#7f7f7f ;
  margin-left:95px; 
}

.quenumber{
  display: grid;
  float: left;
  padding-left: 70px;
  padding-top: 30px;
  font-size: 23px;
  color: white;
}

.submitexam:hover{
  background-color: darkred ;
}

.nextque:hover {
  background-color:#04293A ;
}

.prevque:hover {
  background-color: #595959;
}

.examdiscription{
  width: 500px;
  height: 100px;
  
}

.discriptiondiv{
  margin-top: 20px;
  float: left;
  margin-left: 300px;

}